body {
    background-color: #03001e;
    color: white;
    font-family: Poppins, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 1;
}

body::-webkit-scrollbar {
    display: block;
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: auto;
  padding-top: 20px;
}

.sidenav::-webkit-scrollbar {
    display: block;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav p {
  padding: 2px 8px 6px 50px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.sidenav p:hover {
  color: #aba4ec;
}

.submenu {
  display: none; /* Hide submenu by default */
  padding-left: 20px; /* Indent the submenu */
}

.submenu a {
  font-size: 18px; /* Smaller font size for submenu items */
  color: #818181; /* Same color as main links */
}

.submenu a:hover {
  color: #f1f1f1; /* Change color on hover */
}


.header {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    margin-left: 240px; /* Leave space for the sidebar */
    flex: 1; /* Allow the container to grow */
    padding: 20px; /* Padding for content */
    z-index: 0; /* Lower z-index to be behind the sidebar */
    position: relative; /* Ensure correct stacking context */
    border: 10px solid white;
}

.container .main {
    border: 5px solid white;
    padding: 50px 50px 50px 50px;
}

.container .title {
    text-align: center;
    margin-bottom: 50px;
}

.container .subtitle {
    text-align: center;
    margin-bottom: 50px;
}

.container .s-title {
    margin-bottom: 40px;
}

.description {
    margin-bottom: 20px;
}

code {
    background-color: grey;
    border-radius: 2px;
}

.space-between-context-and-footer {
    margin-bottom: 100px;
}

.footer {
    position: relative;
    margin-left: 12rem;
    bottom: 0;
    width: 1000px;
    background-color: red;
    color: white;
    padding-left: 37%;
}

